
.navbar{
    text-transform: uppercase;
}

.navbar-brand{
    height: 2rem;
}

.main{
    padding-top: 70px;
    margin: auto;
    background-color: #212121;
    width: 100%;
    
}

.main h2{
    color: #fff;
    margin: auto;
    margin-bottom: 20px;
    text-align: center; 
}

.media img{
    margin: auto;
    width: 40%;
    height: 40%;
}

.media-body{
    margin-top: 20px;
}

.media-body h5{
    color: #fff;
    margin-left: 20px;
}

.media-body p{
    color: #fff;
    margin-left: 20px;
}

.btn.btn-outline-light {
    margin: 20px 0px;
    border-width: medium;
    border-radius: 0;
    padding: .5rem 1.1rem;
    font-size: .9rem;
    width: 9rem;
}

footer{
    background-color: #272727;
    color: #fff;
    padding-top: 1rem;
    margin-top: 15px;
    width:100%;
    margin: auto;

}

hr.light{
    border-top: 1px solid #fff;
    width: 75%;
}