html{
    overflow-x: hidden;
}

.navbar{
    text-transform: uppercase;
}

.navbar-brand{
    height: 2rem;
}

.home-inner {
    width: 100%;
    height: 600px; 
    background-image: url('image/salad-2068220_960_720.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    margin-bottom: 2rem;
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.caption h3{
    color: #fff;
    font-size: 2.8rem;
    text-transform: uppercase;
    padding-bottom: 0.9rem;
}

.caption p{
    color: #fff;
    font-size: 1rem
}

.btn.btn-outline-light {
    border-width: medium;
    border-radius: 0;
    padding: .5rem 1.1rem;
    font-size: 1.0rem;
    width: 9rem;
}

.navbar-nav li{
    margin-right: 20px;
}

.heading{
    text-align: center;
}

.card{
    margin: 2rem;

}

.card img{
    width: 40%;
    height: 50%;
    margin: auto;
}

.card-body a{
text-transform: uppercase;
font-size: 1.3rem;
}

.btn.btn-outline-dark{
    border-width: medium;
    border-radius: 0;
    padding: .5rem 1.1rem;
    font-size: 1.0rem;
    width: 9rem;
}

footer{
    background-color: #272727;
    color: #fff;
    padding-top: 2rem;
    margin-top: 20px;

}

hr.light{
    border-top: 1px solid #fff;
    width: 75%;
}