*{
  box-sizing: border-box;
}

*:focus{
  outline: none;
}

body{
  font-family: Arial;
  background-color: #424242;
  padding: 50px;
}

.login{
  margin: auto;
  width: 300px;
}

.login-screen{
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.app-title{
  text-align: center;
  color: #777;
  margin: 50px 0px;
}

.login-form{
  text-align: center;
}

.control-group{
  margin-bottom: 10px;
}

input{
  background-color: #e0e0e0;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  margin: 20px 0px 0px 0px;
  width: 250px;
  padding-left: 10px;
  transition: border .5s; 
}

input:focus{
  border: 1px solid #424242;
  box-shadow: none;
}

.btn{
 border: 1px solid transparent;
 background: #424242;
 color: #fff;
 line-height: 25px;
 padding: 10px 0px;
 text-decoration: none;
 border-radius: 3px;
 box-shadow: none;
 text-shadow: none;
 transition: 0.25s;
 display: block;
 width: 250px;
 margin: 0 auto;
 margin-top: 30px; 
}

.btn:hover{
  background-color: #263238;
}

.login-link{
  text-decoration: none;
  color: #424242;
  font-size: 16px;
  display: inline;
  font-family: Arial;
}

.login-link:hover{
  background-color: transparent;
  color: #1b4d66;
}
